html{
background-image:url(index.jpg);
background-size: 100% 100%;
background-repeat:no-repeat;
background-attachment:fixed;
}

p{
color:#ffffff;
}
h1{
color:yellow;
}
h2{
color:#ffe413;
}

li{
color:#000000;
}
u{
color:red;
}
pre{
color:white;
}
.black{
color:black;
}
body{
background-image:url(kullanici.jpg);
background-size:120px 200px;
background-repeat:no-repeat;
background-position:top right;
background-attachment:fixed;
}
.buyuk{
width:90%;
height:10px;
background-color:green;
}
.kucuk{
width:50%;
height:5px;
background-color:green;
}
.duzen{
width:70%;
color:#c71585;
background-color:#7c84b2;

}

.menu{
    padding: 0px 0px 10px 0px;
    color: black;
    background-color: #cfcfcf;
    display: inline-block;
    background-attachment: fixed;
    width: 25%;
    position: fixed;
    top: 204px;
    right: 0px;
}
.menu2{
display:block;
background-color:#c6e2ff;
    height: 100%;

}

/*.menu:hover .menu2{
display:block;
}
*/


.icTaraf{
        width: 70%;
}


.menu2 a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.menu2 a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.menu2 a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
.menuBaslik{
        font-weight: bolder;
    padding-left: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
}
